*{
    margin: 0;

}

body{
    padding: 20px;
    align-items: center;
}

.definicion{
    padding: 60px;
    text-align: center;
    border-style: solid;
    border-color: aqua;
    box-shadow: 0 7px 9rem red;

}

.explicacion{
    margin:10rem 80px 50px 10rem;
    border-style: solid;
    border-color: black;
    padding: 20px;

}

span{
    background-color: beige;
    color: red;
    
}